@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body{
    background-image: url(img/login.jpg);
    background-size: 90%;
    font-family: 'Press Start 2P', cursive;
}



.localInput{
    width: 80vh;
    height: 40vh;
    margin: 20vh auto;
    padding: 20px;
    position: relative;
    background-image: url(img/bginput.png);
    background-size: 100%;
}

.localInput input{
    --input-focus: #2d8cf0;
    --font-color: #323232;
    --font-color-sub: #666;
    --bg-color: #fff;
    --main-color: #323232;
    width: 400px;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
    background-color: var(--bg-color);
    box-shadow: 4px 4px var(--main-color);
    font-size: 15px;
    font-weight: 600;
    color: var(--font-color);
    padding: 5px 10px;
    outline: none;
    margin-left: 11%;
    margin-top: 20px;
    font-family: 'Press Start 2P', cursive;
}

.localInput::placeholder{
    color:var(--font-color-sub) ;
    opacity: 0.8;
}
.localInput:focus{
    border: 2px solid var(--input-focus);
}

.localInput img{
    width: 100%;
    height: auto;
    display: block;
}

.logo{
    width: 20%;
    height: auto;
    position: relative;
    left: 5%;
    top: 5%;
}

.localInput button{
    border: none;
    background: none;
    padding: 0;
    margin: 20px 0;
    width: 30%;
    height: auto;
    position: relative;
    display: block;
    cursor: pointer;
    margin-left: 35%;
 }
