* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(img/fundotelajogo.png);
    background-size: 100%;
}

.container-logo {
    display: flex;
    justify-content: center;
}

img {
    max-width: 100%;
    height: auto;
    width: 25%;
    margin-top: 5%;
}

.container-logo2 {
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}

video {
    max-width: 100%;
    height: auto;
    width: 20%;
}

.moldura {
    border: solid 5px;
    border-radius: 50px;
    border-color: #B8FDFF;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30rem; /* Ajuste conforme necessário para aumentar o tamanho */
    height: 25rem;
    margin: -50px auto;
}


.container-jogo {
    position: relative;
    margin-top:-3%;
    display: grid;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.container-jogo.x .celula:not(.x):not(.circle):hover::after,
.container-jogo.x .celula:not(.x):not(.circle):hover::before,
.container-jogo.circle .celula:not(.x):not(.circle):hover::after,
.container-jogo.circle .celula:not(.x):not(.circle):hover::before  {
    background: rgba(114, 196, 125, 0.3) !important;
}

/* Célula */
.celula {
    width: 100px;
    height: 100px;
    border: 2px solid blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.celula.x,
.celula.circle {
    cursor: not-allowed;
}

.celula:nth-child(1),
.celula:nth-child(2),
.celula:nth-child(3){
    border-top: none;
}
.celula:nth-child(3),
.celula:nth-child(6),
.celula:nth-child(9){
    border-right: none;
}
.celula:nth-child(1),
.celula:nth-child(4),
.celula:nth-child(7){
    border-left: none;
}
.celula:nth-child(7),
.celula:nth-child(8),
.celula:nth-child(9){
    border-bottom: none;
}

/* X */
.celula.x::before,
.celula.x::after,
.container-jogo.x .celula:not(.x):not(.circle):hover::after,
.container-jogo.x .celula:not(.x):not(.circle):hover::before {
    content: "";
    height: calc(100px * 0.15);
    width: calc(100px * 0.9);
    background: blueviolet;
    position: absolute;
}

.celula.x::before,
.container-jogo.x .celula:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.celula.x::after, 
.container-jogo.x .celula:not(.x):not(.circle):hover::after{
    transform: rotate(-45deg);
}

/* Circle */
.celula.circle::before,
.celula.circle::after,
.container-jogo.circle .celula:not(.x):not(.circle):hover::after,
.container-jogo.circle .celula:not(.x):not(.circle):hover::before  {
    content: "";
    height: calc(100px * 0.9);
    width: calc(100px * 0.9);
    background: blueviolet;
    position: absolute;
    border-radius: 50%;
}

/* Mensagem de vitória */
.mensagem-vencer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    flex-direction: column;
}

.botao-reiniciar {
    font-size: 2.5rem;
    background-color: blueviolet;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    margin-top: 16px;
    color: white;
}

.botao-reiniciar:hover {
    color: blueviolet;
    background-color: white;
}

.mensagem-vencer-texto {
    color: white;
    font-size: 5rem;
}
